@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

/* fonts */
@font-face {
    font-family: myFont;
    src: url(fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(fonts/Avenir/AvenirLight.ttf);
}

@font-face {
    font-family: myFont3;
    src: url(fonts/Impact-Font/impact.ttf);
}

@font-face {
    font-family: myFont4;
    src: url(fonts/font/DINNeuzeitGroteskLT-BoldCond.ttf);
}


h1 {
    font-family: myFont;
    font-size: 150px;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 2%;
}

h4 {
    font-family: myFont;
    font-size: 60px;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

p {
    font-family: myFont;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
}

h3 {
    font-family: myFont3;
    font-size: 50px;
    color: whitesmoke;
    margin-left: 14%;
    width: 80%;
    display: flex;
}

.heading {
    letter-spacing: 10px; 
    margin-bottom: 40px;
}




/* front cover */
body {
    background-color: #121212;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s ease;
    padding: 30px 100px;
    z-index: 100000;
    text-decoration: none;
    background-color: black;
}

header a {
    margin-left: 8%;
}

header.sticky {
    padding: 35px 100px;
    z-index: 100000;
}

header .brandname {
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    font-size: 32px;
    transition: 0.3s ease;
    font-family: myFont;
}

header.sticky .brandname:hover {
    color: #808080;
}

header ul#nav-links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: myFont;
    padding-right: 120px;
}

header ul#nav-links li {
    position: relative;
    list-style: none;
}

header ul#nav-links li a {
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.6s ease;
}

header ul#nav-links li a:before{
    content: '';
    position: absolute;
    background: whitesmoke;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header ul#nav-links li a:hover:before{
    width: 100%;
    background: #808080;
}

header ul#nav-links li a:hover::before {
    width: 100%;
}

header ul#nav-links li a:hover {
    color: #808080;
}



/* headlines */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    width: 33px;
    height: 100px;
    margin-left: 10%;
    margin-top: 2%;
}

.carousel-caption {
    display: flex;
    top: 8%;
    width: 100%;
    text-align: left;
    position: fixed;
    overflow: hidden;
    margin-left: -20%;
}

.carousel-inner h3 {
    top: 65%;
    transform: scale(1,1.8);
    position: absolute;
}

.news {
    transition: 2s ease-in-out;    
}

.news:hover {
    transform:scale(1.2);
}

.news {
    animation: zoomIn 4s forwards;  
}


.headline::after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 10px;
    height: 5px; 
    background-color: whitesmoke; 
    transition: width 1.5s ease-in-out;
}

.headline:hover::after {
    width: 100%;
}



/* standings */
.standings {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.east {
    width: 45%;
    border: 2px solid whitesmoke;
    overflow: auto;
    display: inline-block;
    height: max-content;
}

.standingsTable {
    width: 120%;
    border-collapse: collapse;
    font-size: 18px;
    margin-left: 0%;
}

.standingsTable thead tr {
    background-color: #303030;
    color: whitesmoke;
    font-weight: bold;
    font-family: myFont4;
    font-size: 30px;
}

.standingsTable thead {
    cursor: pointer;
}

.standingsTable2 thead {
    cursor: pointer;
}

.standingsTable th, table td {
    padding: 12px 15px;
    color: whitesmoke;
    text-align: center;
}

.standingsTable tbody tr {
    font-family: myFont2;
    font-size: 16px;
    font-weight: 100;
    background-color: #090909;
    line-height: 0;
}

.winpercentage {
    text-align: center;
    width: 130px;
}

.streak {
    text-align: center;
    width: 80px;
}

.west {
    margin-left: 9%;
    width: 45%;
    border: 2px solid whitesmoke;
    overflow: auto;
    display: inline-block;
    height: max-content;
}

.standingsTable2 {
    width: 120%;
    border-collapse: collapse;
    font-size: 18px;
    margin-left: 0%;
}

.standingsTable2 thead tr {
    background-color: #303030;
    color: whitesmoke;
    font-weight: bold;
    font-family: myFont4;
    font-size: 30px;
}

.standingsTable2 th, table td {
    padding: 12px 15px;
    color: whitesmoke;
    text-align: center;
}

.standingsTable2 tbody tr {
    font-family: myFont2;
    font-size: 16px;
    font-weight: 100;
    background-color: #090909;
    line-height: 0;
}

th:nth-child(2) {
    text-align: left;
}

.th-sort-asc::after {
    content: "\25b4"; /* Up arrow */
    margin-left: 5px;
}

.th-sort-desc::after {
    content: "\25be"; /* Down arrow */
    margin-left: 5px;
}

.th-sort-asc, .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}




/* player stats */
.stats {
    overflow-x: auto;
    white-space: nowrap;
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    overflow: auto;
    overflow-y: hidden;

}

.statsbox {
    background-color: #090909; 
    width: 500px; 
    height: 330px; 
    display: inline-block; 
    margin-right: 3%;
}

.ppgleaders {
    width: 500px;
    height: 500px;
    padding: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.reboundleaders {
    width: 500px;
    height: 500px;
    padding: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.assistleaders {
    width: 500px;
    height: 500px;
    padding: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.blockleaders {
    width: 500px;
    height: 500px;
    padding: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.stealeaders {
    width: 500px;
    height: 500px;
    padding: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.ppgchart .reboundchart .assistchart .blockleaders .stealeaders {
    display: flex;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s ease;
}

a:hover {
    text-decoration: none;
    color: #707070;
    transition: 0.5s ease;
}




/* video highlights */
.video-gallery-container {
    width: 80%;
    font-family: "Roboto", sans-serif;
    padding: 8px 0 0 0;
    margin: 0 auto;
}

.video-gallery-container,
.video-gallery-container * {
    box-sizing: border-box;
}

.video-gallery-container h2.title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 24px;
}

.video-gallery-container .video-gallery {
    display: flex;
    background: black;
    justify-content: center;
    padding: 16px;
    padding-top: 24px;
    gap: 24px;
    color: #fff;
}

.video-gallery .video-title {
    line-height: 1.6;
    font-size: 30px;
    font-family: myFont4;
    margin-left: 0%;
    width: 1000px;
}

.video-gallery .thumbnail {
    height: 120px;
    cursor: pointer;
}

.video-gallery .video {
    position: relative;
}

.video-gallery .video:hover .play-icon {
    opacity: 1;
}

.video-gallery .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 400ms ease;
}

.video-gallery .video .play-icon img {
    height: 50px;
    width: 50px;
}

.video-gallery .all-videos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-gallery .responsive-iframe {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    padding-bottom: 30px;
}

.video-gallery .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .video-gallery-container {
        width: 100%;
    }
}

@media (max-width: 700px) {
  .video-gallery-container .video-gallery {
    flex-direction: column;
  }

  .video-gallery .all-videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .video-gallery .thumbnail {
    height: unset;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .video-gallery .all-videos {
    grid-template-columns: 1fr;
  }

  .video-gallery-container {
    max-width: 400px;
  }

  .video-gallery-container h2.title {
    font-size: 24px;
    font-weight: bold;
  }
}





/* description */
.description {
    width: 100%;
    background-color: #090909;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    height: 567px;
}

.descriptionbox {
    width: 100%;
    line-height: 2.3;
    border-collapse: collapse;
    margin-top: 7px;
    margin-bottom: -9px;
}

.descriptionbox td {
    vertical-align: top;
}

.descriptionbox td:nth-child(2) {
    vertical-align: middle;
}

.descriptionbox td:nth-child(3) {
    vertical-align: middle;
  }

.descriptionbox p {
    font-size: 16px;
    font-family: myFont2;
    line-height: 1.85;
    margin-left: auto;
    margin-right: auto;
}

.line {
    margin-top: -4px;
}

.subscribe {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.subscribesection {
    width: 40%;
}

table {
    text-align: center;
    width: 100%;
    background-color: #090909;
}

p {
    font-family: myFont2;
    font-size: 16px;
    margin-top: 1.5%;
    margin-bottom: 4%;
    width: 100%;
}

.description h4 {
    white-space: nowrap;
    align-items: center;
    margin-bottom: 50px;
}

.description .line {
    font-size: 27px;
}

.aboutme {
    width: 40%;
}

.contact {
    width: 20%;
}

.aboutme .name {
    font-size: 22px;
    width: 85%;
    font-family: myFont4;
}

.allaboutme {
    width: 525px;
    height: 168px;
}




/* forms */
form {
    background-color: #090909;
    display: flex;
    margin-left: 6%;
    width: 525px;
    height: 71px;
    margin-top: -24px;
}

::placeholder {
    color: black;
}


form input {
    padding: 10px 20px;
    height: 70px;
    width: 400px;
    font-size: 16px;
    font-family: myFont2;
    color: black;
}

form button {
    background-color: black;
    border: none;
    outline: none;
    width: 70px; 
    height: 71px;
    cursor: pointer;
}

button img {
    width: 70px; 
    height: 30px;
}

span {
    color: whitesmoke;
    display: block;
    font-family: myFont2;
    font-size: 16px;
    text-align: left;
    margin-left: 6%;
}